/*--------------------- HEADER ---------------------------*/

.header {
  border-bottom: 1px solid #eeeeee;
  position: relative;
  @media screen and (max-width: 767px) {
    padding: 16px 0px 16px 0px;
  }
}

.logolink {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.logolink__constanta {
  color: var(--color-accent);
}
.logolink__header {
  color: #000;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navigation,
.contacts {
  display: flex;
  align-items: center;
}

.navigation {
  display: none;

  @media screen and(min-width:768px) {
    display: flex;
  }
}

.menu-nav {
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  margin-left: 88px;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.menu-nav__link {
  position: relative;
}
.menu-nav .menu-nav__current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
  color: var(--color-accent);
}

.menu-nav .menu-nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu-nav .menu-nav__link {
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-text-nav);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0ms;

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.menu-nav .menu-nav__current {
  color: var(--color-accent);
}

.contacts {
  margin-left: auto;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}
.contacts__icons {
  margin-right: 10px;
}
.contacts .contacts__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.contacts__link {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover .contacts__icons,
  &:focus .contacts__icons {
    fill: var(--color-accent);
  }
}
.contacts .contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  /* CSS-переход */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0ms;

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.contacts__icons {
  fill: var(--main-text-color);
  /* CSS-переход */
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 0ms;
}
// ----------MEEEENUUUUU --------------------//
.menu__button-open {
  display: flex;
  border: none;
  margin: 0px;
  padding: 0px;
  z-index: 2;
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__button-close {
  display: flex;
  position: absolute;
  top: 10px;
  right: 8px;
  border: none;
  background-color: var(--color-but-add);
  margin: 0px;
  padding: 0px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__button-open:focus .icon-menu,
.menu__button-open:hover .icon-menu,
.menu__button-close:focus .icon-close,
.menu__button-close:hover .icon-close {
  fill: var(--color-accent);
}

.menu {
  display: flex;
  background-color: var(--color-but-add);
  padding: 0px 15px 48px 40px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-navigation {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--color-text-nav);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.mob-contacts {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.mail-contacts {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.web-contacts {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.web-items:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.web-items:nth-child(n + 2) {
  padding-left: 10px;
}

.menu-mobile-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 186px;
}

.web-list {
  display: flex;
  flex-direction: row;
}

.mob-items:first-child {
  margin-top: 48px;
}

.mob-items:not(:last-child) {
  margin-bottom: 32px;
}
